<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Categories{% endblock %} - iMarket</title>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap-theme.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block js %}
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper" class="container-fluid">
            <header id="header">
                <div class="top">
                </div>

                <hgroup>
                    <h2>{% block m_title %}<a href="{{ path('MarketingMarketBundle_homepage') }}">iMarket</a>{% endblock %}</h2>
                    <h3>{% block m_tagline %}<a href="{{ path('MarketingMarketBundle_homepage') }}">The best e-shop in Universe</a>{% endblock %}</h3>
                </hgroup>
            </header>

            <section>
                {% block navigation %}{% endblock %}
                {% block body %}{% endblock %}
            </section>

            <div id="footer">
                {% block footer %}
                    Symfony 2 test-work for SmartGamma by <a href="https://pavelcreator.com">PavelCreator</a>
                {% endblock %}
            </div>
        </section>

    </body>
</html>
